/* ==========================================================================
   STYLE RESETS
   ========================================================================== */
* { box-sizing: border-box; }
html {
  /* apply a natural box layout model to all elements */
  box-sizing: border-box;
  background-color: $background-color;
  font-size: 16px;
  @include breakpoint($medium) {
    font-size: 18px;
  }

  @include breakpoint($large) {
    /* devinlife : large 페이지 일때 폰트 사이즈 축소 20px->18px */
    /* font-size: 20px; */
    font-size: 18px;
  }

  @include breakpoint($x-large) {
    /* devinlife : x-large 페이지 일때 폰트 사이즈 축소 20px->18px */
    /* font-size: 20px; */
    font-size: 18px;
  }

  -webkit-text-size-adjust: 100%;
	@@ -184,4 +188,4 @@ input[type="search"]::-webkit-search-cancel-button {
textarea {
  overflow: auto; /* remove vertical scrollbar in IE6-9*/
  vertical-align: top; /* readability and alignment cross-browser*/
}
